# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3

# Environments
.env
venv/
env/
*.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
